# dependencies
node_modules/

# build outputs
dist/
.next/
coverage/

# environment files
.env
.env.*
!.env.example

# Prisma generated client
apps/api/src/generated/prisma/

# logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
.idea/
.vscode/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# local data
.local/
